.audioPlayer {
  color: var(--off-white);
  font-family: monospace;
  width: 250px;
}

.mainDisplay {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 50px;
  border: 1px solid var(--off-white);
  border-radius: 8px;
}

.timeData {
  width: 100%;
}

.playPauseButton {
  background: none;
  border: 0;
  color: var(--off-white);
  padding: 10px;
  width: 78px;

  outline: none;
  cursor: pointer;
}
