.audioPlayer {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 250px;
  height: 50px;
  border: 1px solid var(--off-white);
  color: var(--off-white);
  border-radius: 8px;
  font-family: monospace;
}

.timeData {
  width: 100%;
}

.timeDisplay {
  display: flex;
  justify-content: space-between;
}

.trackProgress {
  color: var(--off-white);
}

.trackDuration {
  color: rgb(233, 229, 229);
}
.playPauseButton {
  background: none;
  border: 0;
  color: var(--off-white);
  padding: 10px;
  width: 78px;

  outline: none;
  cursor: pointer;
}
